doctype html

head
    title "sign page"
    link(rel="stylesheet", href="style.css")
body
    .header#header
        h1 Welcome {userName}
    .container
        #signin.form
            h3 login
            form(action="login")
                .form-group
                    input(name=""  type="email" placeholder="Email" id="emailLogin")
                .form-group
                    input(type="password" placeholder="Password" id="passwordLogin")
                button.btn.btn-cancel(type="reset") Cancel
                button.btn.btn-submit(type="submit") Submit
            button.btn.btn-toggle(action="") Not a member? Sign-up!
        #signup.form
            h3 signup
            form(action="signup")
                .form-group
                    label(for="emailSignup") Enter your email
                    input(name="emailSignup"  type="email" placeholder="Email" id="emailSignup")
                .form-group
                    label(for="passwordSignup1") Choose your password
                    input(name="passwordSignup1"  type="password" placeholder="Password" id="passwordSignup1")
                .form-group
                    label(for="passwordSignup2") Repeat your password
                    input(name="passwordSignup2"  type="email" placeholder="Email" id="passwordSignup2")
                .form-group
                    input#genderFluid(type="radio", name="gender" value="Fluid")
                    label(for="genderFluid") Fluid!
                    input(type="radio", name="gender" value="Uknown" id="genderUnknown")
                    label(for="genderUnknown") Unknown!                  
                    input(type="radio", name="gender" value="Human" id="genderHuman")
                    label(for="genderUnknown") Human!
                    input(type="radio", name="gender" value="Cyborg" id="genderCyborg")
                    label(for="genderCyborgs") Cyborg!           
                .form-group
                    label(for="dob") Date of birth
                    input#dob(type="date", name="dob")
                button.btn.btn-cancel(type="reset") Cancel
                button.btn.btn-submit(type="submit") Submit
    #footer.footer
        p 
            h4 Code brewed with love in Dublin using 
                a(href="https://pugjs.org/api/getting-started.html") PUG



    